*{
    font-family: Roboto;
    box-sizing: border-box;
}
main.main{
    max-width: 700px;
    width: 100%;
    margin: 0px auto;
}
.box{
    border: 1px #ccc solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 150px;
    position: relative;
}

.box .error{
    background-color: rgb(255, 206, 206);
    color: red;
    position: absolute;
    bottom: -52px;
    border: 1px solid rgb(253, 140, 140);
    border-radius: 4px;
    padding: 8px;
}
.box label{
    background-color: #eee;
    padding: 4px;
}
.box input{
    font-size: 52px;
    outline: none;
    width: 100%;
    border: none;
    background-color: transparent;
}

.conversion-cf{
    display: flex;
    gap: 8px;
    justify-content: center;
}
.conversion-btns{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.conversion-btns button{
    padding: 4px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}
.conversion-btns button:hover{
    transform: scale(1.5);
}

.big-s{
    font-size: 24px;
}

.normal-s, .big-s{
    font-style: italic;
}